<a href="https://colab.research.google.com/github/SABRIS13/Introduction-to-Data-Science/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=darkblue> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=blue> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares. 
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

*   https://www.python.org/downloads/
*   https://www.anaconda.com/distribution/

### Google Colaboratory

* https://colab.research.google.com

### Verificando versión

In [160]:
!python -V

Python 3.8.10

# 1.3 Trabajando con datos

In [161]:
import pandas as pd
#pd.set_option('display.max_rows',10)

In [162]:
dataset=pd.read_csv('db.csv',sep=';')

In [163]:
dataset.head(10)

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamiento', 'Techo panorámic...",97497.73
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Transmisión automática', 'Cámara de estacion...",56445.20
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Control de estabilidad', 'Sensor crepuscular...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Ventanas eléctricas', 'Piloto automático', '...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Aire condicionado', 'Panel digital', 'Centra...",76566.49

In [164]:
#Indica tipo de valor por columna
dataset.dtypes

Nombre          object
Motor           object
Año              int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [165]:
#Estadisticas de ciertas columnas
dataset[['Kilometraje','Valor']].describe()

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [166]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=blue> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [167]:
#Creación de tupla
()

()

In [168]:
1,2,3

(1, 2, 3)

In [169]:
nombre='Passat'
valor=1234000
(nombre,valor)

('Passat', 1234000)

In [170]:
nombre_carros=tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombre_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [171]:
type(nombre_carros)

tuple

# 2.2 Selecciones en tuplas

In [172]:
nombre_carros=tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombre_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [173]:
nombre_carros[0]  #Primera posición

'Jetta Variant'

In [174]:
nombre_carros[1]

'Passat'

In [175]:
nombre_carros[-1] #Ultima posición

'DS5'

In [176]:
nombre_carros[1:3] #Slice en tuplas

('Passat', 'Crossfox')

In [177]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [178]:
nombres_carros[-1]

('Fusca', 'Gol', 'C4')

In [179]:
nombres_carros[-1][1] #Acceso a una tupla dentro de otra tupla

'Gol'

In [180]:
#Ejemplo de tuplas
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)
carros[0][-1][:2]

('Llantas de aleación', 'Cerraduras eléctricas')

# 2.3 Iterando en tuplas

In [181]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [182]:
for auto in nombres_carros:
  print(auto)

Jetta Variant
Passat
Crossfox
DS5

### Desempacando tuplas

In [183]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [184]:
#desempacando (separando elementos) tupla
carro_1, carro_2, carro_3, carro_4=nombres_carros

In [185]:
carro_1

'Jetta Variant'

In [186]:
carro_2

'Passat'

In [187]:
carro_3

'Crossfox'

In [188]:
carro_4

'DS5'

In [189]:
#Ignorando elementos de la tupla al desempacar
_,A,_,B=nombres_carros

In [190]:
A

'Passat'

In [191]:
B

'DS5'

In [192]:
#Ignorando elementos en tuplas
_,C,*_ =nombres_carros

In [193]:
C

'Passat'

## *zip()*

[Mas información](https://docs.python.org/3.6/library/functions.html#zip)

In [194]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [195]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [196]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [197]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [198]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [199]:
for carro, valor in zip(carros, valores):
  if valor>100000:
    print(carro)

Passat
DS5

In [200]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)

for tupla in carros:
    for item in tupla[-1]:
        print(item)

Llantas de aleación
Cerraduras eléctricas
Piloto automático
Central multimedia
Techo panoramico
Frenos ABS

# <font color=blue> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
diccionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [201]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [202]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [203]:
carros.index('Passat')

1

In [204]:
valores[carros.index('Passat')]

106161.94

In [205]:
data={'Jetta Variant':88078.64,'Passat':106161.94,'Crossfox':72832.1}
data

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.1}

In [206]:
type(data)

dict

### Creando diccionarios con *zip()*

In [207]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [208]:
dict(zip(carros,valores))

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operaciones con diccionarios

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [209]:
data['Passat']

106161.94

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario.

In [210]:
'Passat' in data

True

In [211]:
'Ford' in dataset

False

In [212]:
'Fusca' not in data

True

## *len(dict)*

Devuelve el número de itens del diccionario.

In [213]:
len(data)

3

## *dict[ key ] = value*

Incluye un item al diccionario.

In [214]:
data['March']=50000
data

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.1,
 'March': 50000}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [215]:
del data['Passat']

In [216]:
data

{'Jetta Variant': 88078.64, 'Crossfox': 72832.1, 'March': 50000}

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [217]:
data

{'Jetta Variant': 88078.64, 'Crossfox': 72832.1, 'March': 50000}

In [218]:
data.update({'Passat':234567})
data

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.1,
 'March': 50000,
 'Passat': 234567}

In [219]:
data.update({'Passat':234569,'Fusca':534567})
data

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.1,
 'March': 50000,
 'Passat': 234569,
 'Fusca': 534567}

## *dict.copy()*

Crea una copia del diccionario.

In [220]:
data_copy=data.copy()

In [221]:
data_copy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.1,
 'March': 50000,
 'Passat': 234569,
 'Fusca': 534567}

In [222]:
del data_copy['Fusca']

In [223]:
data_copy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.1,
 'March': 50000,
 'Passat': 234569}

In [224]:
data

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.1,
 'March': 50000,
 'Passat': 234569,
 'Fusca': 534567}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [225]:
data_copy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.1,
 'March': 50000,
 'Passat': 234569}

In [226]:
data_copy.pop('Passat')

234569

In [227]:
data_copy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.1, 'March': 50000}

In [228]:
data_copy.pop('Passat','Llave no fue encontrada')

'Llave no fue encontrada'

In [229]:
data_copy.pop('Crossfox','Llave no fue encontrada')

72832.1

In [230]:
data_copy

{'Jetta Variant': 88078.64, 'March': 50000}

## *dict.clear()*

Borra todos los itens del diccionario.

In [231]:
data_copy.clear() #Limpiar diccionario

In [232]:
data_copy

{}

# 3.4 Iterando en diccionarios

In [233]:
#Dicionario a utilizar
data

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.1,
 'March': 50000,
 'Passat': 234569,
 'Fusca': 534567}

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [234]:
data.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'March', 'Passat', 'Fusca'])

In [235]:
for key in data.keys():
  print(key)

Jetta Variant
Crossfox
March
Passat
Fusca

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [236]:
data.values()

dict_values([88078.64, 72832.1, 50000, 234569, 534567])

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [237]:
data.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.1), ('March', 50000), ('Passat', 234569), ('Fusca', 534567)])

In [238]:
for item in data.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.1)
('March', 50000)
('Passat', 234569)
('Fusca', 534567)

In [239]:
for carro, valor in data.items():
  print(carro," ->" ,valor)

Jetta Variant  -> 88078.64
Crossfox  -> 72832.1
March  -> 50000
Passat  -> 234569
Fusca  -> 534567

In [240]:
for carro, valor in data.items():
  if valor>100000:
    print(carro)

Passat
Fusca

# <font color=blue> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [244]:
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [245]:
valores=[]
for valor in datos.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [248]:
suma=0
for valor in datos.values():
  suma+=valor
suma

267072.74

In [249]:
list(datos.values())

[88078.64, 106161.94, 72832.16]

In [253]:
sum(datos.values(),100000) #Sumario empieza con valor de argumento

367072.74

In [254]:
help(print)  #Método ayuda

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [259]:
def promedio():
  valor=(1+3+4)/3
  return valor

In [260]:
promedio()

2.6666666666666665

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [268]:
def promedio(num_1, num_2, num_3):
  valor=(num_1+num_2+num_3)/3
  print(valor)

In [269]:
promedio(12,5,7)

8.0

In [270]:
def promedio(lista):
  valor=sum(lista)/len(lista)
  print(valor)

In [271]:
resultado=promedio([4,8,9,6])

6.75

In [272]:
resultado

In [275]:
type(resultado)  #Es un resultado NoneType porque la función no retorna un valor
#                 ("return")

NoneType

In [276]:
#Ejercico práctico
datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}

In [288]:
def km_media(dataset, año_actual):
    for item in dataset.items():
        result = item[1]['km']/ (año_actual - item[1]['año'])
        print(result)

In [290]:
km_media(datos, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

In [291]:
def promedio(lista):
  valor=sum(lista)/len(lista)
  return valor

In [292]:
promedio([6,7,9,5])

6.75

In [293]:
resultado=promedio([6,7,9,5])

In [294]:
type(resultado)

float

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [295]:
def promedio(lista):
  valor=sum(lista)/len(lista)
  return (valor, len(lista))

In [297]:
promedio([7,8,9,3,4])

(6.2, 5)

In [299]:
resultado , n =promedio([7,8,9,3,4])

In [300]:
n

5

In [301]:
resultado

6.2

In [302]:
#Continuación de ejercicio práctico
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        result[item[0]]=media 
        #result.update({ item[0]: media })      
    return result

In [303]:
km_media(datos, 2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

In [304]:
#Ejercicio
datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}

def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result

In [305]:
km_media(datos, 2019)

{'Crossfox': {'km': 35000, 'año': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'año': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'año': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'año': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'año': 1999, 'km_media': 3100.0}}

# <font color=blue> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

In [306]:
import pandas as pd

### Creando una Series a partir de una lista

In [307]:
carros=['Jetta Variant','Passat','Crossfox']

In [308]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [309]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [313]:
df=pd.DataFrame(datos)

In [314]:
df

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

In [316]:
df[['Nombre','Año','Motor','Kilometraje','Cero_km','Valor']]

          Nombre   Año            Motor  Kilometraje  Cero_km      Valor
0  Jetta Variant  2003  Motor 4.0 Turbo      44410.0    False   88078.64
1         Passat  1991     Motor Diesel       5712.0    False  106161.94
2       Crossfox  1990  Motor Diesel V8      37123.0    False   72832.16

### Creando un DataFrame a partir de un diccionario

In [317]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [318]:
dff=pd.DataFrame(datos)

In [319]:
dff

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [322]:
dfff=pd.read_csv('db.csv',sep=';',index_col=0)

In [323]:
dfff

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [325]:
#Continuación de ejercicio
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}
carros = pd.DataFrame(km_media(datos, 2019)).T

In [326]:
carros

                km     año  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [327]:
dfff.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [328]:
dfff['Valor']

Nombre
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [329]:
type(dfff['Valor'])

pandas.core.series.Series

In [330]:
dfff[['Valor']]

                           Valor
Nombre
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [331]:
type(dfff[['Valor']])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [332]:
dfff[0:3]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [334]:
dfff.loc[['Passat']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [336]:
dfff.loc[['Passat','DS5']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [337]:
dfff.loc[['Passat','DS5'],['Motor','Valor']]

                  Motor      Valor
Nombre
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [338]:
dfff.loc[:,['Motor','Valor']]

                                       Motor      Valor
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [339]:
dfff.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [340]:
dfff.iloc[[1]]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [342]:
dfff.iloc[1:4]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [343]:
dfff.iloc[1:4,[0,5,2]]

                    Motor      Valor  Kilometraje
Nombre
Passat       Motor Diesel  106161.94       5712.0
Crossfox  Motor Diesel V8   72832.16      37123.0
DS5       Motor 2.4 Turbo  124549.07          NaN

In [345]:
dfff.iloc[[0,42,22],[0,5,2]]

                               Motor      Valor  Kilometraje
Nombre
Jetta Variant        Motor 4.0 Turbo   88078.64      44410.0
Optima                 Motor 1.8 16v   86641.34          NaN
Lamborghini Obvious  Motor Diesel V6  133529.84      98079.0

In [358]:
#Ejercicio práctico
import pandas as pd

datos = {
   'Nombre': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos)

dataset[1:3][['Nombre', 'Año', 'Kilometraje', 'Valor']]

     Nombre   Año  Kilometraje     Valor
1    Passat  2003       5712.0  106000.0
2  Crossfox  1991      37123.0   72000.0

In [359]:
dataset.iloc[[1, 3], [0, -1]] #Posición de filas/columnas

   Nombre     Valor
1  Passat  106000.0
3     DS5   89000.0

In [380]:
dataset.set_index('Nombre').loc[['Passat', 'DS5'], ['Motor', 'Valor']] 
#Nombre de columnas/filas con loc

               Motor     Valor
Nombre
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Consultas en DataFrames

In [381]:
dfff.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [382]:
dfff.Motor

Nombre
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [384]:
dfff.Motor== 'Motor Diesel'

Nombre
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [385]:
type(dfff.Motor== 'Motor Diesel')

pandas.core.series.Series

In [386]:
dfff[dfff.Motor== 'Motor Diesel']

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Control de estabilidad', 'Panel digital', 'V...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamiento', 'Cerraduras elec...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Asientos de cuero', 'Transmisión automática'...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Frenos ABS', 'Cámara de estacionamiento', 'T...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Cámara de estacionamiento', '4 X 4', 'Cerrad...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Techo panorámico', '4 X 4', 'Asientos de cue...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimedia', 'Aire condicio...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Transmisión automática', 'Frenos AB...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Asientos de cuero', 'Sensor de lluvia', 'Air...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Frenos ABS', 'Techo panorámico', 'Central mu...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Aire condicionado', 'Sensor de estacionamien...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Aire condicionado', 'Sensor de estacionamien...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Techo panorámico', 'Tra...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Control de tracción', 'Aire condicionado', '...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Control de tracción', 'Piloto automático', '...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Control de tracción', 'Sensor de estacionami...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de lluvia', 'Ventanas eléctricas', 'C...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Llantas de aleación', 'Sensor crepuscular', ...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90

In [390]:
dfff[(dfff.Motor== 'Motor Diesel') & (dfff.Cero_km==True)]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

### Utilizando el método query

In [391]:
dfff.query('Motor=="Motor Diesel" and Cero_km ==True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

In [392]:
#Continuación ejercicio práctico
import pandas as pd

datos = {
  'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [396]:
#Diferentes formas de realizar la misma consulta
#dataset.query('Motor == "Motor Diesel" | Cero_km == True')
#dataset[(dataset.Motor == 'Motor Diesel') | (dataset.Cero_km == True)]
dataset.query('Motor == "Motor Diesel" or Cero_km == True')

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

# 5.4 Iterando con DataFrames

In [397]:
for item in dfff:
  print(item)

Motor
Año
Kilometraje
Cero_km
Accesorios
Valor

In [401]:
for index,row in dfff.iterrows():
  if(2020-row.Año !=0):
    dfff.loc[index,'km_media']=row.Kilometraje/(2020-row.Año)
  else:
    dfff.loc[index,'km_media']=0

dfff

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

# 5.5 Tratamiento de datos

In [402]:
dfff.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714

In [403]:
dfff.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Motor        258 non-null    object
 1   Año          258 non-null    int64
 2   Kilometraje  197 non-null    float64
 3   Cero_km      258 non-null    bool
 4   Accesorios   258 non-null    object
 5   Valor        258 non-null    float64
 6   km_media     197 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [404]:
dfff.Kilometraje.isna()

Nombre
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Kilometraje, Length: 258, dtype: bool

In [405]:
dfff[dfff.Kilometraje.isna()]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
A5,Motor 4.0 Turbo,2019,NaN,True,"['Transmisión automática', 'Cámara de estacion...",56445.20,NaN
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38,NaN
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,NaN
Série 1 M,Motor V8,2019,NaN,True,"['Control de estabilidad', 'Central multimedia...",94564.40,NaN
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Control de tracción', 'Aire condicionado', '...",67664.86,NaN
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84,NaN
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21,NaN
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33,NaN
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79,NaN

In [406]:
dfff.fillna(0)

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

In [407]:
dfff

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

In [408]:
dfff.fillna(0,inplace=True)

In [409]:
dfff

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

In [412]:
dfff.query('Cero_km==True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Transmisión automática', 'Cámara de estacion...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Control de estabilidad', 'Central multimedia...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Control de tracción', 'Aire condicionado', '...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79,0.0

In [413]:
df=pd.read_csv('db.csv',sep=';')

In [414]:
df

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [415]:
df.dropna(subset=['Kilometraje'],inplace=True)

In [416]:
df

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamiento', 'Techo panorámic...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47