###Lectura de archivos CSV

**MiniChallenge**
1. Crear un archivo csv con un tabulador de **,** (coma) y con dos columnas; una con los **nombres** de los integrantes del equipo y la segunda con sus edades.
2. Abrir y mostrar la columna de los nombres.

In [3]:
import csv

In [4]:
#Crea y Escribe tu CSV aqui

with open("Info_integrantes.csv","w",newline="")as file:
    writer=csv.writer(file)

    writer.writerow(["Name","Age"])
    writer.writerow(["Edgar","24"])
    writer.writerow(["Esti","22"])

In [5]:
#Lee tu CSV aqui 
csvfile=open("Info_integrantes.csv","r")
reader=csv.reader(csvfile)
reader

In [6]:
#Muestra el contenido de la columna aqui
for row in reader:
    print(row[0])

Name
Edgar
Esti

###Lectura y exploracion de archivo CSV con Pandas


[Pandas](https://pandas.pydata.org) es un módulo externo en Python que provee de herramientas para el análisis y manipulación de datos comúnmente utilizado en *Data Science* debido a que es rápido, poderoso, flexible y fácil de utilizar.

Una de las principales ventajas de utilizar un DataFrame en lugar de una estructura de datos convencional de Python es el acceso a funcionalidades de uso frecuente. Una de estas es la posibilidad de realizar operaciones de agregación (metodos) sobre las columnas.

Existen 13 funciones de agregación (metodos) incluidas en Pandas:
1. `mean()`: Calcula el promedio.
1. `sum()`: Calcula la suma.
1. `size()`: Calcula el tamaño.
1. `count()`: Calcula el tamaño ignorando valores vacíos.
1. `std()`: Calcula la desviación estándar.
1. `var()`: Calcula la varianza.
1. `sem()`: Calcula el error estándar de los valores promedio.
1. `describe()`: Genera estadísticas descriptivas (promedio, desviación estándar, mínimo, máximo, quartiles).
1. `first():` Devuelve el primer elemento.
1. `last()`: Devuelve el último elemento.
1. `nth()` : Devuel el n-ésimo elemento para un valor de `n` entero, o un subconjunto si `n` es una lista.
1. `min()`: Calcula el mínimo.
1. `max()`: Calcula el máximo.

**MiniChallenge**
1. Entra a Kaggle, descarga el archivo [water_potability.csv](https://www.kaggle.com/adityakadiwal/water-potability?select=water_potability.csv) y subelo a tu carpeta de Files
2. Importar la base de datos con pandas al notebook
3. Mostrar la columna 'Turbidity'
4. Sacar promedio de la columna 'Ph'

In [1]:
import pandas as pd

In [23]:
water=pd.read_csv("water_potability.csv")
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [24]:
water["Turbidity"]

0       2.963135
1       4.500656
2       3.055934
3       4.628771
4       4.075075
          ...
3271    4.435821
3272    2.798243
3273    3.298875
3274    4.708658
3275    2.309149
Name: Turbidity, Length: 3276, dtype: float64

In [28]:
water["ph"].mean()

7.080794504276835

In [30]:
mean=water["ph"].sum()/water["ph"].count()
mean

7.080794504276835

###Accediendo a Páginas Web

**MiniChallenge**
1. Accedemos a Project Gutemberg y elegir el libro de tu preferencia en formato txt https://www.gutenberg.org/
2. leer el libro elegido
3. Mostrar los primeros 5000 caracteres

In [31]:
import urllib.request

In [36]:
libro="https://www.gutenberg.org/files/98/98-0.txt"   # A tale of Two cities by Charles Dickens
ans=urllib.request.urlopen(libro)
ans

In [37]:
text=ans.read().decode()

In [38]:
text[0:5000]

'\ufeffThe Project Gutenberg eBook of A Tale of Two Cities, by Charles Dickens\r\n\r\nThis eBook is for the use of anyone anywhere in the United States and\r\nmost other parts of the world at no cost and with almost no restrictions\r\nwhatsoever. You may copy it, give it away or re-use it under the terms\r\nof the Project Gutenberg License included with this eBook or online at\r\nwww.gutenberg.org. If you are not located in the United States, you\r\nwill have to check the laws of the country where you are located before\r\nusing this eBook.\r\n\r\nTitle: A Tale of Two Cities\r\n       A Story of the French Revolution\r\n\r\nAuthor: Charles Dickens\r\n\r\nRelease Date: January, 1994 [eBook #98]\r\n[Most recently updated: December 20, 2020]\r\n\r\nLanguage: English\r\n\r\nCharacter set encoding: UTF-8\r\n\r\nProduced by: Judith Boss and David Widger\r\n\r\n*** START OF THE PROJECT GUTENBERG EBOOK A TALE OF TWO CITIES ***\r\n\r\n\r\n\r\n\r\nA TALE OF TWO CITIES\r\n\r\nA STORY OF THE FRENCH REVOLUTION\r\n\r\nBy Charles Dickens\r\n\r\n\r\nCONTENTS\r\n\r\n\r\n     Book the First--Recalled to Life\r\n\r\n     CHAPTER I      The Period\r\n     CHAPTER II     The Mail\r\n     CHAPTER III    The Night Shadows\r\n     CHAPTER IV     The Preparation\r\n     CHAPTER V      The Wine-shop\r\n     CHAPTER VI     The Shoemaker\r\n\r\n\r\n     Book the Second--the Golden Thread\r\n\r\n     CHAPTER I      Five Years Later\r\n     CHAPTER II     A Sight\r\n     CHAPTER III    A Disappointment\r\n     CHAPTER IV     Congratulatory\r\n     CHAPTER V      The Jackal\r\n     CHAPTER VI     Hundreds of People\r\n     CHAPTER VII    Monseigneur in Town\r\n     CHAPTER VIII   Monseigneur in the Country\r\n     CHAPTER IX     The Gorgon’s Head\r\n     CHAPTER X      Two Promises\r\n     CHAPTER XI     A Companion Picture\r\n     CHAPTER XII    The Fellow of Delicacy\r\n     CHAPTER XIII   The Fellow of no Delicacy\r\n     CHAPTER XIV    The Honest Tradesman\r\n     CHAPTER XV     Knitting\r\n     CHAPTER XVI    Still Knitting\r\n     CHAPTER XVII   One Night\r\n     CHAPTER XVIII  Nine Days\r\n     CHAPTER XIX    An Opinion\r\n     CHAPTER XX     A Plea\r\n     CHAPTER XXI    Echoing Footsteps\r\n     CHAPTER XXII   The Sea Still Rises\r\n     CHAPTER XXIII  Fire Rises\r\n     CHAPTER XXIV   Drawn to the Loadstone Rock\r\n\r\n\r\n     Book the Third--the Track of a Storm\r\n\r\n     CHAPTER I      In Secret\r\n     CHAPTER II     The Grindstone\r\n     CHAPTER III    The Shadow\r\n     CHAPTER IV     Calm in Storm\r\n     CHAPTER V      The Wood-sawyer\r\n     CHAPTER VI     Triumph\r\n     CHAPTER VII    A Knock at the Door\r\n     CHAPTER VIII   A Hand at Cards\r\n     CHAPTER IX     The Game Made\r\n     CHAPTER X      The Substance of the Shadow\r\n     CHAPTER XI     Dusk\r\n     CHAPTER XII    Darkness\r\n     CHAPTER XIII   Fifty-two\r\n     CHAPTER XIV    The Knitting Done\r\n     CHAPTER XV     The Footsteps Die Out For Ever\r\n\r\n\r\n\r\n\r\n\r\nBook the First--Recalled to Life\r\n\r\n\r\n\r\n\r\nCHAPTER I.\r\nThe Period\r\n\r\n\r\nIt was the best of times, it was the worst of times, it was the age of\r\nwisdom, it was the age of foolishness, it was the epoch of belief, it\r\nwas the epoch of incredulity, it was the season of Light, it was the\r\nseason of Darkness, it was the spring of hope, it was the winter of\r\ndespair, we had everything before us, we had nothing before us, we were\r\nall going direct to Heaven, we were all going direct the other way--in\r\nshort, the period was so far like the present period, that some of its\r\nnoisiest authorities insisted on its being received, for good or for\r\nevil, in the superlative degree of comparison only.\r\n\r\nThere were a king with a large jaw and a queen with a plain face, on the\r\nthrone of England; there were a king with a large jaw and a queen with\r\na fair face, on the throne of France. In both countries it was clearer\r\nthan crystal to the lords of the State preserves of loaves and fishes,\r\nthat things in general were settled for ever.\r\n\r\nIt was the year of Our Lord one thousand seven hundred and seventy-five.\r\nSpiritual revelations were conceded to England at that favoured period,\r\nas at this. Mrs. Southcott had recently attained her five-and-twentieth\r\nblessed birthday, of whom a prophetic private in the Life Guards had\r\nheralded the sublime appearance by announcing that arrangements were\r\nmade for the swallowing up of London and Westminster. Even the Cock-lane\r\nghost had been laid only a round dozen of years, after rapping out its\r\nmessages, as the spirits of this very year last past (supernaturally\r\ndeficient in originality) rapped out theirs. Mere messages in the\r\nearthly order of events had lately come to the English Crown and People,\r\nfrom a congress of British subjects in America: which, strange\r\nto relate, have proved more important to the human race than any\r\ncommunications yet received through any of the chickens of the Cock-lane\r\nbrood.\r\n\r\nFrance, less favoured on the whole as to matters spiritual than her\r\nsister of the shield and trident, rolled with exceeding smoothness down\r\nhill, making paper money and spending it. Under the guidance of her\r\nChristian pastors, she entertained herself, be'

###Manipulacion de JSON con Python

JavaScript Object Notation (JSON) El formato mas utilizado para trasferir informacion (intercambio de datos a través de la web)

**MiniChallenge**
 
1. Busquemos acceder a las 'description' del json

In [4]:
import json

In [3]:
otro_JSON='''
{
    "marcadores": [
      {
        "latitude": 40.416875,
        "longitude": -3.703308,
        "city": "Madrid",
        "description": "Puerta del Sol"
      },
      {
        "latitude": 40.417438,
        "longitude": -3.693363,
        "city": "Madrid",
        "description": "Paseo del Prado"
      },
      {
        "latitude": 40.407015,
        "longitude": -3.691163,
        "city": "Madrid",
        "description": "Estación de Atocha"
      }
    ]
}

'''

In [38]:
#Codea aqui para acceder a las 3 description de otro_JSON con ayuda de un for
otro=json.loads(otro_JSON)

for o in otro["marcadores"]:
    print("Description:",o["description"])

Description: Puerta del Sol
Description: Paseo del Prado
Description: Estación de Atocha

##API

Minichallenge

Haz una consulta a la siguiente API y obten todos los elementos de 'sunrise' del JSON que da como resultado

* [Sunrise Sunset](https://sunrise-sunset.org/api)

In [46]:
import requests

In [49]:
sunrise="https://api.sunrise-sunset.org/json?lat=36.7201600&lng=-4.4203400"
ans=requests.get(sunrise)
ans

In [52]:
data=ans.json()
data

{'results': {'sunrise': '4:57:55 AM',
  'sunset': '7:34:07 PM',
  'solar_noon': '12:16:01 PM',
  'day_length': '14:36:12',
  'civil_twilight_begin': '4:29:10 AM',
  'civil_twilight_end': '8:02:52 PM',
  'nautical_twilight_begin': '3:51:39 AM',
  'nautical_twilight_end': '8:40:23 PM',
  'astronomical_twilight_begin': '3:09:57 AM',
  'astronomical_twilight_end': '9:22:05 PM'},
 'status': 'OK'}

In [57]:
show_data=pd.DataFrame(data)
show_data

                                 results status
astronomical_twilight_begin   3:09:57 AM     OK
astronomical_twilight_end     9:22:05 PM     OK
civil_twilight_begin          4:29:10 AM     OK
civil_twilight_end            8:02:52 PM     OK
day_length                      14:36:12     OK
nautical_twilight_begin       3:51:39 AM     OK
nautical_twilight_end         8:40:23 PM     OK
solar_noon                   12:16:01 PM     OK
sunrise                       4:57:55 AM     OK
sunset                        7:34:07 PM     OK

In [58]:
show_data["results"]

astronomical_twilight_begin     3:09:57 AM
astronomical_twilight_end       9:22:05 PM
civil_twilight_begin            4:29:10 AM
civil_twilight_end              8:02:52 PM
day_length                        14:36:12
nautical_twilight_begin         3:51:39 AM
nautical_twilight_end           8:40:23 PM
solar_noon                     12:16:01 PM
sunrise                         4:57:55 AM
sunset                          7:34:07 PM
Name: results, dtype: object

In [60]:
show_data.iloc[0]

results    3:09:57 AM
status             OK
Name: astronomical_twilight_begin, dtype: object