# Ejercicios de Pandas

Es momento de poner a pruebas tus nuevas habilidades. Utiliza el archivo <tt>population_by_county.csv</tt> para completar las tareas en negritas en la parte de abajo.

[Data](https://github.com/gupta24789/Machine-Learning-Datasets/blob/master/population_by_county.csv)

<div class="alert alert-info" style="margin: 10px"><strong>NOTA:</strong>TODOS LOS EJERCICIOS PUDEN REALIZARSE CON UNA SOLA LINEA DE CODIGO DE PANDAS.</div>

#### 1. Importa pandas y lee el archivo <tt>population_by_county.csv</tt> en una dataframe llamado <tt>pop</tt>.

In [251]:
import pandas as pd

In [252]:
population = pd.read_csv("population_by_county.csv")
population

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Muestra el head del dataframe.

In [253]:
population.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

#### 3. Â¿CuÃ¡les son los nombres de las columnas?

In [254]:
population.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

<strong>4. Â¿CuÃ¡ntos estados estÃ¡n representados en este dataset?</strong> <em>Nota: los datos incluyen el distrito de Columbia</em>

In [255]:
population["State"].nunique()-1

50

In [256]:
len(set(population["State"]))-1

50

In [257]:
population[population["State"]!="District of Columbia"]["State"].nunique()

50

#### 5. ObtÃ©n una listo o arreglo de todos los estados en el dataset

In [258]:
population[population["State"]!="District of Columbia"]["State"].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'Connecticut', 'Hawaii', 'Delaware'],
      dtype=object)

#### 6. Â¿CuÃ¡les son los nombres de condados mÃ¡s comunes en los Estados Unidos?

In [275]:
population.pivot_table(index="County",aggfunc="size").sort_values(ascending=False).head(10)

County
Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Madison County       19
Clay County          18
Montgomery County    18
Monroe County        17
Marion County        17
dtype: int64

#### 7. De acuerdo al censo de 2010, Â¿CuÃ¡les son los 5 condados con mayor poblaciÃ³n?

In [260]:
population.sort_values(["2010Census"],ascending=False).head()["County"]

1713    Los Angeles County
628            Cook County
1209         Harris County
1784       Maricopa County
2501      San Diego County
Name: County, dtype: object

#### 8. De acuerdo al censo de 2010, Â¿CuaÄºes son los 5 estados mÃ¡s poblados?

In [261]:
population.sort_values(["2010Census"],ascending=False).head()["State"]

1713    California
628       Illinois
1209         Texas
1784       Arizona
2501    California
Name: State, dtype: object

#### 9. En 2010, Â¿CuÃ¡ntos condados tenÃ­an una poblaciÃ³n mayor a un millÃ³n de habitantes?

In [262]:
population[population["2010Census"]>1000000]["County"].nunique()

38

#### 10. Â¿CuÃ¡ntos condados no tienen la palabra 'County' en su nombre?

In [276]:
population["County"].nunique()-population[population["County"].str.contains("County")]["County"].nunique()

135

In [277]:
population[population["County"].str.contains("County")==False]["County"].nunique()

135

#### 11. Agrega una columna que calcule el cambio porcentual entre lo reportado por el censo de 2010 y el estimado de poblaciÃ³n de 2017.

In [265]:
population["Percentage 2010/2017"]=(population["2017PopEstimate"]-population["2010Census"])/(population["2010Census"])*100
population

,County,State,2010Census,2017PopEstimate,Percentage 2010/2017
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954
...,...,...,...,...,...
3137,Yuma County,Arizona,195751,207534,6.019382
3138,Yuma County,Colorado,10043,10075,0.318630
3139,Zapata County,Texas,14018,14322,2.168640
3140,Zavala County,Texas,11677,11948,2.320802
3141,Ziebach County,South Dakota,2801,2756,-1.606569

<strong>Pregunta Extra: Â¿CuaÄºes son los estados que tienen el mayor cambio porcentual entre lo reportado por censo de 2010 y el estimado de poblaciÃ³n de 2017?</strong><br>Este ejercicio requiere de varias lineas de cÃ³digo, ya que require recalcular el cambio porcentual.

In [266]:
population_State=pd.DataFrame()

In [267]:
population_State["State"]=population["State"].sort_values().unique()

In [268]:
filtro_pop_2010=list(population["2010Census"].groupby(population["State"]).sum())

In [269]:
population_State["2010 Census"]=filtro_pop_2010

In [270]:
filtro_pop_2017=list(population["2017PopEstimate"].groupby(population["State"]).sum())

In [271]:
population_State["2017 Pop Estimate"]=filtro_pop_2017

In [272]:
population_State=population_State.drop(8) #Eliminar Distrito de Columbia

In [273]:
population_State["Percentage 2010/2017"]=(population_State["2017 Pop Estimate"]-population_State["2010 Census"])/(population_State["2010 Census"])*100
population_State

             State  2010 Census  2017 Pop Estimate  Percentage 2010/2017
0          Alabama      4779736            4874747              1.987788
1           Alaska       710231             739795              4.162589
2          Arizona      6392017            7016270              9.766135
3         Arkansas      2915918            3004279              3.030298
4       California     37253956           39536653              6.127395
5         Colorado      5029196            5607154             11.492056
6      Connecticut      3574097            3588184              0.394142
7         Delaware       897934             961939              7.128029
9          Florida     18801310           20984400             11.611372
10         Georgia      9687653           10429379              7.656406
11          Hawaii      1360301            1427538              4.942803
12           Idaho      1567582            1716943              9.528114
13        Illinois     12830632           12802023             -0.222974
14         Indiana      6483802            6666818              2.822665
15            Iowa      3046355            3145711              3.261471
16          Kansas      2853118            2913123              2.103138
17        Kentucky      4339367            4454189              2.646054
18       Louisiana      4533372            4684333              3.329994
19           Maine      1328361            1335907              0.568068
20        Maryland      5773552            6052177              4.825885
21   Massachusetts      6547629            6859819              4.767985
22        Michigan      9883640            9962311              0.795972
23       Minnesota      5303925            5576606              5.141117
24     Mississippi      2967297            2984100              0.566273
25        Missouri      5988927            6113532              2.080590
26         Montana       989415            1050493              6.173143
27        Nebraska      1826341            1920076              5.132393
28          Nevada      2700551            2998039             11.015826
29   New Hampshire      1316470            1342795              1.999666
30      New Jersey      8791894            9005644              2.431217
31      New Mexico      2059179            2088070              1.403035
32        New York     19378102           19849399              2.432111
33  North Carolina      9535483           10273419              7.738842
34    North Dakota       672591             755393             12.310899
35            Ohio     11536504           11658609              1.058423
36        Oklahoma      3751351            3930864              4.785289
37          Oregon      3831074            4142776              8.136152
38    Pennsylvania     12702379           12805537              0.812116
39    Rhode Island      1052567            1059639              0.671881
40  South Carolina      4625364            5024369              8.626456
41    South Dakota       814180             869666              6.814955
42       Tennessee      6346105            6715984              5.828441
43           Texas     25145561           28304596             12.562993
44            Utah      2763885            3101833             12.227282
45         Vermont       625741             623657             -0.333045
46        Virginia      8001024            8470020              5.861700
47      Washington      6724540            7405743             10.130106
48   West Virginia      1852994            1815857             -2.004162
49       Wisconsin      5686986            5795483              1.907812
50         Wyoming       563626             579315              2.783583

In [274]:
population_State.sort_values("Percentage 2010/2017",ascending=False).head()

           State  2010 Census  2017 Pop Estimate  Percentage 2010/2017
43         Texas     25145561           28304596             12.562993
34  North Dakota       672591             755393             12.310899
44          Utah      2763885            3101833             12.227282
9        Florida     18801310           20984400             11.611372
5       Colorado      5029196            5607154             11.492056

# Â¡Buen trabajo!